<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>관리(관리자 전용)</title>
    <style>
        @import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");
        *{font-family:'Nanum Gothic';}
        body { padding-top: 70px; }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Robot Cafe</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">메인<span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="/management">관리(관리자 전용)</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if 'id' in session %}
          <li><a href="/logout">로그아웃</a></li>
        {% else %}
          <li><a href="/login">로그인(관리자 전용)</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="btn-group" role="group" aria-label="set">
                <button type="button" class="btn btn-primary" id="refresh">새로고침</button>
                <button type="button" class="btn btn-success" id="new">새로운 정보 불러오기</button>
            </div>
        </div>
        <div class="col-md-12">
            <div id="contents">
                <button id="more" class="btn btn-primary center-block">더 불러오기</button>
            </div>
        </div>
    </div>
</div>
<script>
    last_id = null;
    page = 1;

    //로딩 될 시 불러오기
    $(window).load(function(){
         $.ajax({
            url:'/management/order',
            contentType:"application/json; charset=UTF-8",
            timeout:5000,
            type:'post',
            dataType:'json',
            data: JSON.stringify({'new':false, 'page':1}),
            success:function(data){
                page = 1;
                last_id = data.data[0]._id.$oid;
                object = '';
                for(var i=0; i < data.data.length; i++){
                    order_text = '';
                    for(var j=0; j < data.data[i].order.length; j++){
                        order_text += data.data[i].order[j] + ", ";
                    }
                    object += '<div id="'+ data.data[i]._id.$oid + '">' + '<div class="panel panel-primary">' +
                            '<div class="panel-heading">주문번호:' + data.data[i]._id.$oid +
                                    '</div><div class="panel panel-body"><p>주문 내용: ' + order_text + '</p><p>가격:' +
                            data.data[i].price.toString() + '</p><p>테이블 번호: ' + data.data[i].table.toString() + '</p>' +
                            '<button class="btn btn-danger" onclick="DeleteData(\'' + data.data[i]._id.$oid +
                            '\');">삭제</button></div></div></div>';
                }
                $("#more").before(object);
            }
        });
    });

    //새로고침 시
    $('#refresh').click(function(){
        $.ajax({
            url:'/management/order',
            contentType:"application/json; charset=UTF-8",
            timeout:5000,
            type:'post',
            dataType:'json',
            data:JSON.stringify({'new':false, 'page':1}),
            success:function(data){
                page=1;
                last_id = data.data[0]._id.$oid;
                object = '';
                for(var i=0; i < data.data.length; i++){
                    order_text = '';
                    for(var j=0; j < data.data[i].order.length; j++){
                        order_text += data.data[i].order[j] + ", ";
                    }
                    object += '<div id="'+ data.data[i]._id.$oid + '">' + '<div class="panel panel-primary">' +
                            '<div class="panel-heading">주문번호:' + data.data[i]._id.$oid +
                                    '</div><div class="panel panel-body"><p>주문 내용: ' + order_text + '</p><p>가격:' +
                            data.data[i].price.toString() + '</p><p>테이블 번호: ' + data.data[i].table.toString() + '</p>' +
                            '<button class="btn btn-danger" onclick="DeleteData(\'' + data.data[i]._id.$oid +
                            '\');">삭제</button></div></div></div>';
                }
                object += '<button id="more" class="btn btn-primary center-block">더 불러오기</button>';
                $("#contents").html("");
                $("#contents").html(object);
            }
        });
    });

    //새로운 정보 불러오기 시
    $('#new').click(function(){
        if(last_id == null){
        }else{
            $.ajax({
                url:'/management/order',
                contentType:"application/json; charset=UTF-8",
                timeout:5000,
                type:'post',
                dataType:'json',
                data:JSON.stringify({'new':true, 'last_id':last_id}),
                success:function(data){
                    object = '';
                    for(var i=0; i < data.data.length; i++){
                        order_text = '';
                        for(var j=0; j < data.data[i].order.length; j++){
                            order_text += data.data[i].order[j] + ", ";
                        }
                        object += '<div id="'+ data.data[i]._id.$oid + '">' + '<div class="panel panel-primary">' +
                            '<div class="panel-heading">주문번호:' + data.data[i]._id.$oid +
                                    '</div><div class="panel panel-body"><p>주문 내용: ' + order_text + '</p><p>가격:' +
                            data.data[i].price.toString() + '</p><p>테이블 번호: ' + data.data[i].table.toString() + '</p>' +
                            '<button class="btn btn-danger" onclick="DeleteData(\'' + data.data[i]._id.$oid +
                            '\');">삭제</button></div></div></div>';
                    }
                    $("#"+last_id).before(object);
                    last_id = data.data[0]._id.$oid;
                }
            });
        }
    });


    $('#more').click(function(){
        $.ajax({
            url:'/management/order',
            contentType:"application/json; charset=UTF-8",
            timeout:5000,
            type:'post',
            dataType:'json',
            data:JSON.stringify({'new':false, 'page':page + 1}),
            success:function(data){
                page = page + 1;
                last_id = data.data[0]._id.$oid;
                object = '';
                for(var i=0; i < data.data.length; i++){
                    order_text = '';
                    for(var j=0; j < data.data[i].order.length; j++){
                        order_text += data.data[i].order[j] + ", ";
                    }
                    object += '<div id="'+ data.data[i]._id.$oid + '">' + '<div class="panel panel-primary">' +
                            '<div class="panel-heading">주문번호:' + data.data[i]._id.$oid +
                                    '</div><div class="panel panel-body"><p>주문 내용: ' + order_text + '</p><p>가격:' +
                            data.data[i].price.toString() + '</p><p>테이블 번호: ' + data.data[i].table.toString() + '</p>' +
                            '<button class="btn btn-danger" onclick="DeleteData(\'' + data.data[i]._id.$oid +
                            '\');">삭제</button></div></div></div>';
                }
                object += '<button id="more" class="btn btn-primary center-block">더 불러오기</button>';
                $("#more").detach();
                $("#contents").append(object);
            }
        });
    });

    //항목 삭제
    function DeleteData(order_id){
        $.ajax({
            url:'/management/order',
            contentType:"application/json; charset=UTF-8",
            timeout:5000,
            type:'delete',
            dataType:'json',
            data:JSON.stringify({'order_id':order_id}),
            success:function(data){
                $('#'+ order_id).detach();
            }
        });
    }
</script>
</body>
</html>